


*{
 margin:0px;

}

 html{
 margin:0;

 background:#E1D6F6;
 /*border:1px solid blue;*/

}


.cabecalho{
 height:100px;
 /*background:black;*/
 /*border:1px solid orange;*/

}


.Fundo-cabecalho{
 height:200%;
 width:100%;
 background:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Luzes/Luzes.jpg');
 background-repeat:no-repeat;
 background-size:100%;
 color:grey;
 background-attachment: scroll;
 /*border:1px solid blue;*/

}

@media screen and (max-width:1200px)  
{
	 
	.Imagem-cabecalho{
		 height:100%;
		 min-height:202px;
		 width:100%;
		 min-width:1005px;
		 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_14.jpg');
		 background-repeat:no-repeat;
		 background-size:20% 100%;
		 background-position:50% 50%;
		 color:grey;
		 /*border:1px solid blue;*/

	}


}

@media screen and (min-width:1210px){

   .Imagem-cabecalho{
		 height:100%;
		 min-height:202px;
		 width:100%;
		 min-width:1005px;
		 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_14.jpg');
		 background-repeat:no-repeat;
		 background-size:15% 100%;
		 background-position:50% 50%;
		 color:grey;
		 /*border:1px solid blue;*/

	}


}

	 @media screen and (min-width:1500px){

     .Imagem-cabecalho{
		 height:100%;
		 min-height:202px;
		 width:100%;
		 min-width:1005px;
		 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_14.jpg');
		 background-repeat:no-repeat;
		 background-size:12% 100%;
		 background-position:50% 50%;
		 color:grey;
		/*border:1px solid blue;*/

	}



   	}

}

@media screen and (min-width:2000px){
     .Imagem-cabecalho{
		 height:100%;
		 min-height:202px;
		 width:100%;
		 min-width:1005px;
		 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_14.jpg');
		 background-repeat:no-repeat;
		 background-size:10% 100%;
		 background-position:50% 50%;
		 color:grey;
		 /*border:1px solid blue;*/

	}
 


}


	 @media screen and (min-width:3000px){

	.Imagem-cabecalho{
		 height:100%;
		 min-height:202px;
		 width:100%;
		 min-width:1005px;
		 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_14.jpg');
		 background-repeat:no-repeat;
		 background-size:6% 100%;
		 background-position:50% 50%;
		 color:grey;
		/*border:1px solid blue;*/

	}

  
}

 @media screen and (min-width:4000px){

    .Imagem-cabecalho{
		 height:100%;
		 min-height:202px;
		 width:100%;
		 min-width:1005px;
		 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_14.jpg');
		 background-repeat:no-repeat;
		 background-size:6% 100%;
		 background-position:50% 50%;
		 color:grey;
		 /*border:1px solid blue;*/

	}


}

.corpo{
 margin-top:110px;
 padding: 0 5px;
 height:300px;
 /*border:1px solid red;*/

}

.corpo .img-01{
 margin-top:500%;

}


.imagem01{
 margin-top:0.5%;
 width:100%;
 height:200%;
 background-image:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_03.jpg');
 background-repeat:no-repeat;
 background-size:100% 100%;
 background-attachment:fixed;
 /*border:1px solid blue;*/

} 

.image02{
 width:33%;
 height:500px;
 background:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_05.jpg');
 background-repeat:no-repeat;
 background-size:100% 100%;
 margin-top:0.5%;
 /*border:1px solid blue;*/

}

.image03{
 width:90%;
 height:350px;
 background:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/Quinze-anos/QuinzeAnos_04.jpg');
 background-repeat:no-repeat;
 background-size:100% 100%;
 margin-top:0.5%;
 margin-left:0.5%;
 /*border:1px solid blue;*/

}

.flex-container{
	display:flex;
	flex-direction:row;


}




