*{
 margin:0px;
 padding:0px;

}

body{
 width:1050px;
 height:600px;
 margin-left:50%;
 transform:translateX(-50%);
 clear:both;
 background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/FL13027_02.png');
 background-size:100px 100px;

}


.cabecalho{
 height:25%;
 width:50%;
 margin:-20% 25% 1% 25%;
 /*background-image:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/63nero_02.jpg');*/
 background-image:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/vintage_07_09.jpg');
 background-repeat:no-repeat;
 background-size:100% 100%;
 border-radius:5px;
 border:1px solid transparent;

}

.conteudo-cabecalho{
 height:78%;
 width:83.5%;
 margin-top:3%;
 margin-left:8%;
 font-family:"Bell MT";
 color:white;
 background:linear-gradient(45deg,#DCDCDC,#D3D3D3,#A9A9A9,#D3D3D3,#DCDCDC);
 opacity:0.5;

 border:1px solid transparent;

}

.conteudo-cabecalho>h1{
 position:relative;
 text-align:center;
 margin-top:10%;
 font-weight:1000;
 text-decoration:none;
 /*border:1px solid red;*/

}



.barra-lateral-esquerda{
 float:left;
 height:75%;
 width:13%;
 margin:-11% 3% auto 3%;
 transform:translateX(30%);
 /*border:1px solid blue;*/


}

.barra-lateral-direita{
 float:right;
 height:75%;
 width:13%;
 margin:-11% 3% auto 3%;
 transform:translateX(-30%);
 /*border:1px solid blue;*/

}

.cabecalho-esquerda{
 min-height:20%;
 min-width:10%;
 padding:0px;
 margin:1% 1% 5% 1%;
 background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/moldura_prateada.png');
 background-repeat:no-repeat;
 background-size:100% 100%;
 border-radius:5px;
 border:1px solid transparent;

}

.conteudo-cabecalho-esquerda{
 position:relative;
 height:12.5%;
 width:70%;
 margin:12% auto auto 15%;
 opacity:0.8;
 font-size:0.8em;
 background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/Tropical_01.jpg');
 background-repeat:no-repeat;
 background-size:100% 100%;
 opacity:0.5;
/*background:linear-gradient(45deg,#DCDCDC,#D3D3D3,#A9A9A9,#D3D3D3,#DCDCDC);*/
 /*border:1px solid blue;*/

}

.cabecalho-direita{
 min-height:20%;
 min-width:10%;
 padding:0px;
 margin:1% 1% 5% 1%;
 background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/moldura_prateada.png');
 background-repeat:no-repeat;
 background-size:100% 100%;
 border-radius:5px;
 border:1px solid transparent;

}

.conteudo-cabecalho-direita{
 position:relative;
 height:12.5%;
 width:70%;
 margin:12% auto auto 15%;
 opacity:0.8;
 font-size:0.8em;
 background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/Alaska_02.jpg');
 background-repeat:no-repeat;
 background-size:100% 100%;
 opacity:0.5;
/*background:linear-gradient(45deg,#DCDCDC,#D3D3D3,#A9A9A9,#D3D3D3,#DCDCDC);*/
 /*border:1px solid blue;*/

}

.corpo{
 position:relative;
 width:50%;
 height:100%;
 margin:0% 25%;
 /*border:1px solid red;*/

}

.conteudo-corpo{
 width:100%;
 height:100%;
 padding:0%;
 text-align:justify;
 font-family:"Arial";
 font-size:0.8em;
 /*border:1px solid blue;*/

}

.corpo-esquerda{
 min-width:12%;
 min-height:80%;
 background-image:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/63nero_02_04.jpg');
 /*background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/vintage_06_02_Aquarela.jpg');*/
 background-repeat:no-repeat;
 background-size:100% 100%;
 padding-top:0px;
 border-radius:5px;
 border:1px solid transparent;

}

.conteudo-corpo-esquerda{
 width:65%;
 height:60%;
 margin-top:30%;
 margin-left:18%;
 background:linear-gradient(45deg,#DCDCDC,#D3D3D3,#A9A9A9,#D3D3D3,#DCDCDC);
 /*background:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/PapelParede_02.png');*/
 background-repeat:no-repeat;
 background-size:100% 100%;
 color:white;

 /*border:3px solid green;*/

}

.conteudo-corpo-esquerda > h3{
 font-size:0.8em;
 font-family:"Bookman Old Style";
 font-color:white;
 padding-top:5%;
 padding-bottom:10%;
 padding-left:5%;
 
}




.corpo-direita{
 min-width:12%;
 min-height:80%;
 background-image:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/63nero_02_04.jpg');
 /*background:url('C:/Users/JONATHAN/Desktop/HTML/PraticandO_/Criando_PgsEModelos/FotoTech/Arquivos/Imgs/vintage_06_02_Aquarela.jpg');*/
 background-repeat:no-repeat;
 background-size:100% 100%;
 padding-top:0px;
 border-radius:5px;
 border:1px solid transparent;
}

.conteudo-corpo-direita{
 width:65%;
 height:60%;
 margin-top:30%;
 margin-left:18%;
 background:linear-gradient(45deg,#DCDCDC,#D3D3D3,#A9A9A9,#D3D3D3,#DCDCDC);
 /*background:url('C:/Users/JONATHAN/Desktop/HTML/Imgs.html/PapelParede_02.png');*/
 background-repeat:no-repeat;
 background-size:100% 100%;
 color:white;

 /*border:3px solid green;*/

}

.conteudo-corpo-direita > h3{
 font-size:0.6em;
 font-family:"Bookman Old Style";
 color:black;
 padding-top:5%;
 padding-bottom:10%;
 padding-right:3%;
 text-align:right;
 text-decoration:underline;
 
}

.conteudo-corpo-direita > p{
  font-size:0.8em;
  font-family:"Baskerville Old Face";
  font-color:white;

}

.corpo-direita .conteudo-corpo-direita a{
 display:inline-block;
 font-size:0.8em;
 margin-top:20%;
 margin-left:20%

}


.rodape{
 width:100%;
 height:20%;
 text-align:center;
 margin-top:0%;
 background:black;
 color:white;
 border:1px solid transparent;

}

.rodape p{
 margin-top:8%;
 font-size:0.9em;
 

}

.corpo-esquerda > h3{
 font-family:"";
 font-size:0.9em;

}

.corpo-esquerda .conteudo-corpo-esquerda ul{
 padding-left:4%;
 font-size:0.8em;

}

.corpo-esquerda .conteudo-corpo-esquerda li{
 width:80%;

}


.menu{
 height:45%;
 width:100%;
 margin-top:-3%;
 background:black;

}

.conteudo-principal{
 position:relative;
 width:100%;
 height:95%;
 margin-top:;
 background:white;
 /*border:1px solid black;*/

}

ul{
 display:block;
 height:5%;
 /*border:3px solid violet;*/
 
}

ul li{
 display:inline-block;
 margin-left:10%;   
 padding:1%;
 color:white;
 list-style:none;
 /*border:1px solid white;*/

}

a{
 text-decoration:none;
 color:white;
 
}

.conteudo-corpo-direita label h3{
 display:inline-block;
 margin-top:5%;
 padding-left:4%;
 font-size:0.8em;
 /*border:1px solid blue;*/

}

.conteudo-corpo-direita input{
 width:94%;
 height:6%;
 margin-left:5%;
 font-family:"Arial";
 font-size:0.6em;
 border-radius:5px;

}

.corpo .conteudo-corpo a:hover{
 border-radius:2px;
 background:#dcdcdc;

}

.corpo-esquerda .conteudo-corpo-esquerda li:hover{
 border-radius:2px;
 background:#dcdcdc;
 color:black;
 font-weight:1000;

}

.corpo-esquerda .conteudo-corpo-esquerda a:hover{
 color:black;
 font-weight:1000;

}

.corpo-direita .conteudo-corpo-direita a:hover{
 font-family:"sans-serif";
 color:black;
 background:white;

}


